.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    &__background{
        height: 6.2rem;
        background-color: #272727;
    }
    &__list{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        &_link{
            color: #D1B476;
            font-size: 2.55rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-align: center;
        }
    }
}