.profile{
    width: 100%;
    height: 100vh;
    background-color: #343232;
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    &__info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            width: 17.4rem;
            height: 17.4rem;
            border-radius: 50%;
        }
    }
    &__name{
        margin-top: 2rem;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.6rem;
        text-align: center;
        color: #D2D2D2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.quiz-frame
{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz__head
{
   font-size: 20pt;
   margin: 10px;
   margin-bottom: 50px;
}
 
.head__content
{
   padding: 5px;
}
 
.quiz__body
{
   margin: 10px;
}
 
.quiz__footer
{
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
}
 
.footer__content
{
   padding: 5px;
}
 
.button
{
   border: 0;
   border-radius: 10px;
   background: #6477EB;
   color: #fff;
   padding: 10px 25px;
   width: 70%;
   font-size: 15pt;
   display: block;
   margin: 2px auto;
   cursor: pointer;
}
 
.button_wrong
{
   background: #EB6465;
}
 
.button_correct
{
   background: #5EB97D;
}
 
.button_passive
{
   background: #B3B3B3;
}