.to-back{
    margin-top: -4rem;
    margin-bottom: 10rem;
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #D2D2D2;
    text-transform: uppercase;
    position: relative;
    span{
        margin-right: 1.5rem;
        &::before{
            content: '';
            position: absolute;
            width: .2rem;
            height: 1.5rem;
            top: .5rem;
            transform: rotate(-45deg);
            background-color: #D1B476;;
        }
        &::after{
            content: '';
            position: absolute;
            width: .2rem;
            height: 1.5rem;
            top: -.5rem;
            transform: rotate(45deg);
            background-color: #D1B476;;
        }
    }
    
}